@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FjallaOne";
  src: url("../public/fonts/spirits-almanac-font/FjallaOne.ttf");
}

@font-face {
  font-family: "Lemon";
  src: url("../public/fonts/weatherspout-font/Lemon.ttf");
}

@font-face {
  font-family: "BadScript";
  src: url("../public/fonts/thornbush-font/BadScript.ttf");
}

@font-face {
  font-family: "Honk";
  src: url("../public/fonts/nicks-resume-fonts/Honk.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("../public/fonts/nicks-resume-fonts/Fredoka.ttf");
}

body {
  background: #ebf0fa;
  margin: 0px;
  font-family: "Fredoka";
  font-size: 20px;
}
